body {
	width: 960px;
	margin: 0 auto;
}

.wrap {
	width: 400px;
	margin-top: 100px;
	float: left;
}

h1 {
	font-size: 200%;
	font-family: "Lobster", sans-serif;
	margin-bottom: 20px;
}

h2 {
	font-size: 170%;
	font-family: "Lobster", sans-serif;
	margin: 30px 0 20px 0;
	text-decoration: underline;
	color: grey;
}

p {	
	font-family: "Oxygen", sans-serif;

}

#firstP {	
	margin-bottom: 20px;
	color: #5cb85c;
	font-weight: bold;
}

#wins, #guesses, #winsValue, #guessesValue {
	display: inline;
}

#lettersGuessed {
	margin-bottom: 8px;
}

#lettersGuessedList {
	font-size: 32px;
	font-weight: bolder;
	color: #FF0000;
}

.hangman {
	width: 100px;
	margin-top: 100px;
	margin-right: 450px;
	float: right;
	text-align: center;
}

.hangman p {
	font-weight: bolder;
	font-size: 50px;
	color: black;
}

.body, .leftArm, .rightArm, .leftLeg, .rightLeg  {
	display: inline;
	visibility: hidden;
}

.head {
	visibility: hidden;
}

.hint {
	font-weight: bolder;
	margin-bottom: 20px;
	color: #4899B1;
	background-color: #CDECF5;
	font-style: italic;
	text-align: center;
	margin-bottom: 10px;
	padding: 20px;
	width: 40%;
	border: 5px solid #5BC0DE;
	border-radius: 15px;
}

#password {
	margin-top: 20px;
	letter-spacing: 20px;
	font-weight: bolder;
	font-size: 36px;
	visibility: ;
}